@import './reset.less';
@import './style1.less';
@import './style2.less';
@import './iconfont.less';
body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff !important;
}
div,ul,input{
  box-sizing:border-box;
}
.slider-list{
  background: #fff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

//遮罩层
.mask{
  position:fixed;
  z-index:9999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color:rgba(0,0,0,.5);
}

//主色
@mainblack:#2b2a30;
@maingray:#999;
@mainblue:#288dfd;
@borderline:#f7f7f7;
@mainbggray:#f0f1f3;

// 背景色
.bg{
  position:fixed;
  z-index:-1;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.bg-gray{
  background-color:@mainbggray;
}

//搜索框
.search-wrap{
  position: relative;
  z-index:999;
  padding:15px;
  background-color:#fff;
  input{
    width:100%;
    height:40px;
    border-radius: 360px;
    background-color:#e8ecf0;
    font-size:14px;
    border:none;
    color:#333;
    padding-left:40px;
  }
  i{
    position:absolute;
    left:30px;
    top:27px;
    font-size:20px;
    color:#999;
  }
}

//模块标题
.module-tit-wrap{
  display: flex;
  align-items: center;
  margin:0 15px;
  padding:20px 0;
  background-color:#fff;
  border-bottom:1px solid @borderline;
  color:@mainblack;
  .img-icon{
    margin-right:5px;
    width: 17px;
  }
  .tit{
    flex:1;
    margin-right:15px;
    font-size:15px;
    color:@mainblack;
    font-weight: bold;
  }
}

//模块左右信息排版
.module-list{
  .item{
    display: flex;
    align-content: center;
    margin:0 15px;
    padding:20px 0;
    font-size:14px;
    border-bottom:1px solid @borderline;
    .l{
      color:@maingray;
      &.black{
        color:@mainblack;
      }
    }
    .r{
      flex:1;
      text-align: right;
      color:@mainblack;
      &.gray{
        color:#999;
      }
    }
  }
}
.module-list2{
  .item{
    display: flex;
    align-content: center;
    margin:0 15px;
    padding-bottom:14px;
    font-size:14px;
    .l{
      color:#999999;
    }
    .r{
      flex:1;
      text-align: right;
      color:@mainblack;
    }
  }
}

//模块间空格条
.module-space{
  height:10px;
  background-color:@mainbggray;
}

//tab
.am-tabs-default-bar-underline{
  border:none !important;
  transform:translate3d(0, -5px, 0) !important;
  background:url('../img/img103.png') center no-repeat;
  height:3px;
  width: 20px;
  
}

//底部固定按钮操作
.footer-btn-group{
  position:fixed;
  z-index: 99;
  bottom:0;
  left:0;
  width:100%;
  height:44px;
  line-height: 44px;
  background-color:@mainblue;
  .btn-group{
    display:flex;
    a{
      flex:1;
      height:44px;
      line-height: 44px;
      text-align: center;
      color:#fff;
      &:first-child{
        border-right:1px solid #fff;
      }
    }
  }
  
}

.footer-btn-group-space{
  height:45px;
}

.header{
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  height: 45px;
  line-height: 45px;
  background: #288dfd;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  z-index: 9999;
  .header-title{
    margin:0 40px 0 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .header-back{
    position: absolute;
    left: 0;
    top:0;
    width: 40px;
    cursor: pointer;
  }
  .header-search,.head-add{
    position: absolute;
    right: 0;
    top:0;
    width: 40px;
    cursor: pointer;
    .iconfont{
      font-size: 22px;
    }
  }
  
}
.banner{
  background: #fff;
  .banner-item{
    padding:20px 0;
    .banner-img{
      transition: all 200ms;
      border-radius: 6px;
      box-shadow: 0 0 20px rgba(8,1,3,.25);
      overflow: hidden;
      img{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    
  }
}
.new-abstract{
  display: flex;
  padding:0px 15px;
  line-height: 50px;
  height: 50px;
  .iconfont{
    color: #eb370a;
  }
  .new-abstract{
    flex: 1;
    width: 0;
  }
  .v-item{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a{
      font-size: 12px;
      color: #2b2a30;
      display: block;
    }
  }
}
.company-search-view{
  position: fixed;
  left: 0;
  top:45px;
  width: 100%;
  z-index: 80;
  background: #fff;
  box-sizing: border-box;
  padding:20px 15px;
  .company-search{
    background: #e8ecf0;
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    padding:0 17px;
    input{
      font-size: 12px;
      width: 100%;
      height: 30px;
      line-height: 30px;
      box-sizing: border-box;
      border:none;
      padding-left: 20px;
      background: #e8ecf0 url('../img/img017.png') no-repeat left center;
      background-size: 12px auto;
    }
  }
}
.company-new-list{
  .item{
    &.on{
      .title{
        font-size: 15px;
        color: #2b2a30;
        line-height: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    a{
      display: flex;
      align-items: center;
      padding:15px;
      .new{
        width: 60px;
        text-align: right;
      }
      .info{
        flex: 1;
        width: 0;
        .title{
          font-size: 15px;
          color: #2b2a30;
          line-height: 18px;
        }
        .time{
          font-size: 11px;
          color: #a6bcd4;
          line-height: 14px;
          margin-top: 10px;
        }
      }
    }
  }
}
.company-new-detail{
  .article-title{
    text-align: center;
    padding: 20px;
    h2{
      font-size: 16px;
      color: #2b2a30;
      font-weight: bold;
    }
    p{
      font-size: 11px;
      color: #a6bcd4;
      margin-top: 13px;
    }
  }
  .txt{
    padding:15px;
    font-size: 15px;
    color: #2b2a30;
    line-height: 26px;
    text-indent: 30px;
  }
}
.customer-item{
  a{
    display: flex;
    background: #fff;
    padding:0 15px;
    align-items: center;
    line-height: 54px;
    .icon{
      margin-right: 10px;
      width: 18px;
      height: 54px;
      .iconfont{
        color: #94c0f4;
        font-size: 14px;
      }
      &.icon1{
        background: url('../img/img019.png') no-repeat left center;
        background-size: auto 16px;
      }
    }
    .title{
      width: 0;
      flex: 1;
      font-size: 15px;
      color: #2b2a30;
    }
  }
}
.electricityCompany{
  .title{
    text-align: center;
    background: #fff;
    padding:20px 0;
    &>div{
      display: inline-block;
      margin:0 20px;
      vertical-align: top;
      .iconfont{
        display: inline-block;
        font-size: 30px;
        color: #94c0f4;
        line-height: 39px;
      }
    }
  }
  .electricityCompany-search{
    background: #fff;
    padding:15px;
    .search-input{
      background: #e8ecf0;
      line-height: 36px;
      height: 36px;
      border-radius: 18px;
      padding:0 18px;
      input{
        width:100%;
        background:#e8ecf0 url('../img/img017.png') no-repeat left center;
        background-size:auto 16px;
        line-height: 30px;
        height: 30px;
        font-size: 12px;
        color: #333;
        border:none;
        padding-left: 20px;
      }
    }
  }
  .electricityCompany-item{
    background: #fff;
    padding:20px 15px;
    a{
      display: flex;
      align-items: center;
      .info{
        width: 0;
        flex: 1;
      }
      .address{
        width: 100px;
        text-align: right;
        color: #94c0f4;
        font-size: 11px;
      }
    }
  }
}
.annualEstimatedPower{
  .chooes-year{
    display: flex;
    padding:10px 15px;
    &>div{
      flex: 1;
      font-size: 15px;
      color: #2b2a30;
      &.r{
        text-align: right;
      }
    }
  }
  .m-list{
    padding:0 15px;
    ul{
      li{
        width: 25%;
        float: left;
        text-align: center;
        margin-bottom: 30px;
        .p1{
          font-size: 11px;
          color: #2b2a30;
        }
        .p2{
          background: #f0f1f3;
          font-size: 16px;
          color: #288dfd;
          line-height: 40px;
          margin-top: 6px;
        }
      }
    }
  }
}
.survey-page{
  .top-totls{
    background: #fff;
    padding:25px 15px 25px 0;
    font-size: 0;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    &>div{
      display: inline-block;
      font-size: 11px;
      color: #ffffff;
      text-align: center;
      padding:13px;
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(55,120,245,.8);
      margin-left: 15px;
      min-width: 110px;
    }
  }
  .charts-map{
    padding:0 15px;
    background: #fff;
    .title{
      padding:15px 0;
      font-size: 15px;
      color: #2b2a30;
      line-height: 18px;
      .iconfont{
        display: inline-block;
        text-align: center;
        font-size: 10px;
        color: #fff;
        background: #a6bcd4;
        width: 18px;
        height: 18px;
        line-height: 19px;
        border-radius: 50%;
        margin-right: 5px;
        vertical-align: top;
      }
    }
  }
}
.infoDelivey{
  .infoDelivey-search{
    background: #fff;
    padding:15px 15px;
    .search-input{
      background: #e8ecf0;
      line-height: 36px;
      height: 36px;
      border-radius: 18px;
      padding:0 18px;
      input{
        width:100%;
        background:#e8ecf0 url('../img/img017.png') no-repeat left center;
        background-size:auto 16px;
        line-height: 30px;
        height: 30px;
        font-size: 12px;
        color: #333;
        border:none;
        padding-left: 20px;
      }
    }
  }
  .infoDelivey-list{
    .item{
      padding:15px;
      margin-bottom: 10px;
      background: #fff url('../img/img201.png') no-repeat 95% center;
      background-size:auto 12px;
      span.btn{
        display: inline-block;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        width: 94px;
        line-height: 30px;
        background: linear-gradient(to right, #81baf9 , #2a8efd);
        border-radius: 20px;
      }
    }
  }
}
.infoDeliveyDetail{
  .infoDeliveyDetail-body{
    .title{
      background: #fff;
      text-align: center;
      padding:20px 0;
      .t{
        font-size: 16px;
        color: #2b2a30;
        font-weight: bold;
      }
      .time{
        font-size: 11px;
        color: #a6bcd4;
        margin-top: 10px;
      }
    }
    .txt{
      padding:15px;
      font-size: 15px;
      color: #2b2a30;
      line-height: 26px;
      img{
        max-width: 100%;
      }
    }
  }
  .btn{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #288dfd;
    color: #fff;
    line-height: 45px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    display: flex;
    border-top: 1px solid #288dfd;
    .b{
      flex: 1;
      &.last{
        background: #fff;
        color: #333;
      }
    }
  }
}
.infoDeliveyAdd{
  .submit-btn{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    button{
      flex: 1;
      border:none;
      background: #fff;
      font-size: 15px;
      color: #a6bcd4;
      line-height: 45px;
      &.tj{
        background: #288dfd;
        color: #fff;
      }
    }
  }
  .view{
    padding:0 15px;
    .item2{
      padding-bottom: 20px;
      .l{
        font-size: 14px;
        color: #2b2a30;
        padding:20px 0;
      }
      .r{
        textarea{
          width: 100%;
          box-sizing: border-box;
          border:1px solid #eeeeee;
          padding:10px;
          border-radius: 10px;   
          font-size: 11px;   
          height: 100px;  
          line-height: 16px;
        }
      }
    }
    .item{
      display: flex;
      line-height: 45px;
      border-bottom: 1px solid #eeeeee;
      &.bgImg{
        background: url('../img//img201.png') no-repeat right center;
        background-size:auto 12px;
      }
      &:last-child{
        border-bottom: none;
      }
      .l{
        width: 100px;
        font-size: 14px;
        color: #2b2a30;
      }
      .r{
        flex: 1;
        width: 0;
        text-align: right;
        padding-right: 15px;
        color: #2b2a30;
        &.cl2{
          color: #999999;
          position: relative;
          .file{
            position: absolute;
            left: 0;
            top:0;
            width: 100%;
            height: 100%;
            opacity: 0;
          }
        }
        input{
          width: 100%;
          text-align: right;
          font-size: 14px;
          height: 30px;
          line-height: 30px;
          border:none;
          background: #fff;
        }
      }
    }
  }
}
.infoDelivey-model{
  position: fixed;
  left: 0;
  top:100%;
  width: 100%;
  height: 100vh;
  // background: rgba(0,0,0,.5);
  z-index: 10000;
  transition: all 200ms;
  &.on{
    top:0;
    transition: all 200ms;
  }
  .mode-view-mb{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 10001;
    overflow: hidden;
  }
  .mode-view{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 10002;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    .btn{
      display: flex;
      button{
        display: block;
        flex: 1;
        text-align: center;
        font-size: 15px;
        color: #a6bcd4;
        line-height: 45px;
        cursor: pointer;
        border:none;
        background: #fff;
        &.ok{
          color: #fff;
          background: #288dfd;
        }
      }
    }
  }
}
.bsiness-analysis{
  .time-chooes{
    display: flex;
    padding:0 15px;
    &>div{
      flex: 1;
      line-height: 45px;
      &.r{
        text-align: right;
      }
    }
  }
  .f2-map{
    .t{
      line-height: 45px;
      margin:0 15px;
      border-bottom: 1px solid #eeeeee;
      font-size: 15px;
      color: #2b2a30;
      .iconfont{
        display: inline-block;
        height: 18px;
        width: 18px;
        text-align: center;
        line-height: 20px;
        border-radius: 18px;
        background: #a6bcd4;
        font-size: 12px;
        color: #fff;
        margin-right: 5px;
      }
    }
  }
  .year-model{
    position: fixed;
    left: 0;
    top:100%;
    right: 0;
    height: 100vh;
    background: rgba(0,0,0,.5);
    transition: all 200ms;
    &.on{
      top:0;
      transition: all 200ms;
    }
    .year-model-view{
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 10px 10px 0 0;
      background: #fff;
      width: 100%;
      overflow: hidden;
      .btn{
        display: flex;
        button{
          flex:1;
          background: #fff;
          line-height: 45px;
          font-size: 15px;
          color: #333;
          border:none;
          &:last-child{
            color: #fff;
            background: #288dfd;
          }
        }
      }
    }
  }
}








