@import './reset.less';
@import './style1.less';
@import './style2.less';
@import './iconfont.less';
body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}
.slider-list{
  background: #fff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header{
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  height: 45px;
  line-height: 45px;
  background: #288dfd;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  z-index: 1000;
  .title{
    margin:0 40px 0 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .back{
    position: absolute;
    left: 0;
    top:0;
    width: 40px;
    cursor: pointer;
  }
  .search{
    position: absolute;
    right: 0;
    top:0;
    width: 40px;
    cursor: pointer;
    .iconfont{
      font-size: 22px;
    }
  }
}
.banner{
  background: #fff;
  .banner-item{
    padding:20px 0;
    .banner-img{
      transition: all 200ms;
      border-radius: 3px;
      box-shadow: 0 0 20px rgba(8,1,3,.25);
      img{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    
  }
}
.new-abstract{
  display: flex;
  padding:0px 15px;
  line-height: 50px;
  height: 50px;
  .iconfont{
    color: #eb370a;
  }
  .new-abstract{
    flex: 1;
    width: 0;
  }
  .v-item{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a{
      font-size: 12px;
      color: #2b2a30;
      display: block;
    }
  }
}
.company-search-view{
  position: fixed;
  left: 0;
  top:45px;
  width: 100%;
  z-index: 80;
  background: #fff;
  box-sizing: border-box;
  padding:20px 15px;
  .company-search{
    background: #e8ecf0;
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    padding:0 17px;
    input{
      font-size: 12px;
      width: 100%;
      height: 30px;
      line-height: 30px;
      box-sizing: border-box;
      border:none;
      padding-left: 20px;
      background: #e8ecf0 url('../img/img017.png') no-repeat left center;
      background-size: 12px auto;
    }
  }
}
.company-new-list{
  .item{
    a{
      display: flex;
      align-items: center;
      padding:15px;
      .new{
        width: 60px;
        text-align: right;
      }
      .info{
        flex: 1;
        width: 0;
        .title{
          font-size: 15px;
          color: #2b2a30;
          line-height: 18px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .time{
          font-size: 11px;
          color: #a6bcd4;
          line-height: 14px;
          margin-top: 10px;
        }
      }
    }
  }
}
.company-new-detail{
  .article-title{
    text-align: center;
    padding: 20px;
    h2{
      font-size: 16px;
      color: #2b2a30;
      font-weight: bold;
    }
    p{
      font-size: 11px;
      color: #a6bcd4;
      margin-top: 13px;
    }
  }
  .txt{
    padding:15px;
    font-size: 15px;
    color: #2b2a30;
    line-height: 26px;
    text-indent: 30px;
  }
}


