// 合同管理
@mainblack:#2b2a30;
.contract-manage-wrap{
    .contract-manage-list{
        .item{
            margin-bottom: 10px;
            background-color:#fff;
            padding:18px 15px;
            .tit{
                font-size:15px;
                font-weight: bold;
                color:#2b2a30;
            }
            .mes{
                margin-top:15px;
                font-size:12px;
                span{
                    color:#999;
                }
            }
        }
    }
}