// 合同管理
.contract-manage-wrap {
    .contract-manage-list {
        .item {
            margin-bottom: 10px;
            background-color: #fff;
            padding: 18px 15px;

            .tit {
                font-size: 15px;
                color: @mainblack;
            }

            .mes {
                color: @mainblack;
                margin-top: 15px;
                font-size: 12px;

                span {
                    color: #999;
                }
            }
        }
    }

    .pulldown-box {
        height: calc(100vh - 120px);
        overflow: auto;

        ul {
            min-height: calc(100vh - 120px);
        }
    }
}

//合同电量信息
.contract-battery-list {
    margin: 0 15px;

    .item {
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
        font-size: 13px;
        color: @mainblack;
        border-bottom: 1px solid @borderline;

        &.head {
            color: @maingray;
        }

        .num {
            width: 10%;
        }

        .info {
            flex: 1;
            padding: 0 10px;
        }

        .amount {
            width: 15%;
        }
    }
}

//合同附件
.contract-attachment-list {
    margin: 0 15px;

    .item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 15px 0;
        border-bottom: 1px solid @borderline;
        font-size: 15px;

        .l {
            width: 110px;
            color: @maingray;
        }

        .m {
            padding: 0 10px;
            flex: 1;
            color: @mainblack;
            text-align: center;
        }

        .r {
            color: @mainblue;
        }
    }
}

//合同预览
.contract-review {
    .head {
        padding: 20px 15px;
        text-align: center;

        .tit {
            margin-bottom: 10px;
            font-size: 17px;
            color: @mainblack;
        }

        .tip {
            color: @maingray;
            font-size: 12px;
            color: #a6bcd4;
        }
    }

    .cont {
        padding: 15px;
        font-size: 15px;
        line-height: 28px;
        color: @mainblack;
    }
}

.moudle-tit-control {
    color: @mainblue;
    font-size: 15px;

    i {
        margin-left: 5px;
        font-size: 14px;
    }
}

//考勤管理
.attendance-list {
    padding-top:48px;
    .item {
        position: relative;
        padding: 15px;

        .tit {
            padding-bottom: 15px;
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: bold;
            color: @mainblack;
            border-bottom: 1px solid @borderline;
        }

        .mes {
            display: flex;
            color: @mainblack;
            font-size: 12px;

            span {
                line-height: 26px;
                ;
            }

            .s1 {
                color: @maingray;
            }

            .s2 {
                flex: 1;
                color: @mainblack;
            }
        }

        .btn-statue {
            position: absolute;
            top: 70px;
            right: 15px;
            background-image: linear-gradient(to right, #73b3fa, #2f90fd);
            border: none;
            border-radius: 360px;
            color: #fff;
            font-size: 12px;
            height: 30px;
            line-height: 30px;
            width: 90px;
        }
    }
}

.attedance-dialog {
    margin: auto;
    margin-top: 20%;
    background-color: #fff;
    border-radius: 20px;
    width: 90%;
    text-align: center;

    .tit {
        padding-top: 20px;
        color: @mainblack;
        font-size: 15px;
        font-weight: bold;
    }

    .cont {
        padding: 25px 15px;
        display: flex;
        justify-content: center;

        .item {
            flex: 1;
            text-align: center;

            .img {
                height: 36px;
            }
        }
    }
}

.btn-group {
    height: 44px;
    line-height: 44px;
    display: flex;
    border-radius: 20px;

    button {
        flex: 1;
        height: 100%;
        border: none;

    }

    .btn-cancel {
        background-color: #fff;
        color: @mainblack;
        border-bottom-left-radius: 20px;
    }

    .btn-sure {
        background-color: @mainblue;
        color: #fff;
        border-bottom-right-radius: 20px;
    }
}


// input[type="radio"] + label::before {
//     content: url("../img/img108.png"); /*不换行空格*/
//     display: inline-block;
//     vertical-align: middle;
//     font-size: 18px;
//     width: 20px;
//     height: 20px;

// }

.self-radio { 
    padding: 6px 0; 
    label{
        color:#999;
    }
    label::after {
        content: "";
        /*不换行空格*/
        background-image: url("../img/img108.png");
        background-size: 100% 100%;
        display: block;
        margin: 6px auto;
        font-size: 18px;
        width: 20px;
        height: 20px;
    }

    input {
        display: none;
    }

    input:checked+label::after {
        content: "";
        /*不换行空格*/
        background-image: url("../img/img109.png");
        background-size: 100% 100%;
        display: block;
        margin: 6px auto;
        font-size: 18px;
        width: 20px;
        height: 20px;
    }
}

//
.attendnce-add{
    .item{
        display: flex;
        align-content: center;
        margin:0 15px;
        height:40px;
        line-height: 40px;
        font-size:14px;
        border-bottom:1px solid @borderline;
        .l{
            color:@mainblack;

        }
        .r{
            flex:1;
            text-align: right;
            input{
                height:100%;
                width: 100%;
                color:@mainblack;
                text-align: right;
                border:none;
            }
            ::-webkit-input-placeholder{
                color:@mainblack;
            }
        }

    }
    .other{
        padding:15px;
        .tit{
            font-size:14px;
            color:@mainblack;
            font-weight: bold;
        }
        .area-wrap{
            width: 100%;
            margin-top:15px;
            padding:15px;
            height:160px;
            border:1px solid #eee;
            border-radius: 5px;
            box-sizing: border-box;
        }
        textarea::-webkit-input-placeholder{
            color:#999 !important;
        }
    }
    
}

//考勤管理
.scroll-wrap{
    .b-wrapper{
        top:110px;
    }
}

.footer-btn-group .btn-group button{
    background-color:@mainblue;
    color:#fff;
    &.btn-white{
        background-color: #fff;
        border:1px solid #fff;
        color:@mainblack;
    }
}