.clear{ clear: both; }
//待办事项
.todolist{
    li{
        margin-top: 10px;
        &:first-child{
            margin-top: 0;
        }
        a{
            background: #fff url(../img/img201.png) no-repeat 95% center;
            background-size: 7px 12px;
            display: block;
            padding: 10px 15px;
        }
        p{
            color: #2b2a30;
            font-size: 15px;
            line-height: 27px;
            span{
            color: #999;
            }
            label{ 
            color: #a6bcd4;
            }
        }
    }
}
//待办事项-合同审核流程步骤
.page_bg{ 
    min-height: 100vh;
    background: #fff;
    padding-bottom: 44px;
}
.tododet{
    .top{ 
        background: #fff; 
        text-align: center; 
        line-height: 30px; 
        padding: 10px 0; 
        h3{ 
            font-weight: bold;
            font-size: 16px; 
            color: #2b2a30; 
        }
        p{ 
            font-size: 11px; 
            color: #a6bcd4; 
        }
    }
    .cont{ 
        padding: 0 20px 10px; 
        background: #fff; 
        border-top: 10px solid #f0f1f3;
        .step_list{ 
            text-align: center; 
            padding: 20px 0; 
            border-bottom: 1px solid #e8ecf0; 
            ul{ 
                display: inline-block; 
                padding-left: 22px; 
                border-left: 1px dashed #999; 
                li{ 
                    text-align: left; 
                    margin-top: 35px; 
                    font-size: 15px; 
                    color: #2b2a30; 
                    position: relative; 
                    &:first-child{ 
                        margin-top: 0; 
                    }
                    &::before{ 
                        content: ''; 
                        display: block; 
                        width: 20px; 
                        height: 20px; 
                        background: #fbd085; 
                        position: absolute; 
                        left: -33px; 
                        top: -2px; 
                        transform:rotate(45deg); 
                    }
                    &:nth-child(3)::before{ 
                        background: #f8b551; 
                    }
                    &:nth-child(4)::before{ 
                        background: #eb9706; 
                    }
                    &:nth-child(5)::before{ 
                        background: #d17906; 
                    }
                    &:first-child::before,&:last-child::before{ 
                        width: 16px; 
                        height: 16px; 
                        border-radius: 16px; 
                        left: -31px; top: 0; 
                    }
                    &:first-child::before{ 
                        background: #0fe54c; 
                    }
                    &:last-child::before{ 
                        background: #288dfd; 
                    }
                    span{ 
                        display: block; 
                        position: absolute; 
                        font-size: 12px; 
                        width: 20px; 
                        height: 15px; 
                        line-height: 15px; 
                        text-align: center; 
                        left: -33px; 
                        color: #fff; 
                    }
                }
            }
        }

        .process{
            padding-top: 20px;
            p{
                font-size: 15px;
            }
            .img{
                margin-top: 20px;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
        &.contpd{
            padding: 0 0 10px;
            .det_list{
                li{
                    border-top: 10px solid #f0f1f3;
                    padding: 0 15px;
                    &:first-child{
                        border-top: none;
                    }
                    .title{
                        line-height: 54px;
                        border-bottom: 1px solid #f0f1f3;
                        p{
                            font-size: 15px;
                        }
                    }
                    .web{
                        position: relative;
                        padding: 10px 0;
                        p{
                            line-height: 25px;
                            font-size: 12px;
                            span{
                                color: #999;
                            }
                        }
                        .result{
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            text-align: center;
                            span{
                                display: block;
                                height: 30px;
                                line-height: 30px;
                                border-radius: 30px;
                                width: 92px;
                                font-size: 12px;
                                color: #fff;
                                background: -webkit-linear-gradient(left, #82baf9, #288dfd); ;
                            }
                            p{
                                color: #a6bcd4;
                                &.on{
                                    color: #fd0119;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
    .f_btn{
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        width: 100%;
        text-align: center;
        height: 44px;
        line-height: 44px;
        background: #288dfd;
        &>a{
            display: block;
            flex: 1;
            font-size: 15px;
            color: #fff;
            border-left: 1px solid #a6bcd4;
            &:first-child{
                border-left: none;
            }
        }
    }
}
//
.housenum{
    .power_user{
        background: #fff;
        padding: 20px 15px;
        h3{
            font-size: 16px;
            color: #2b2a30;
        }
        .list{
            margin-top: 5px;
            li{
                margin-top: 10px;
                font-size: 12px;
                float: left;
                &:first-child{
                    width: 100%;
                }
                &:last-child{
                    float: right;
                }
                span{
                    color: #a6bcd4;
                }
            }
        }
    }
    .cont{
        background: #fff;
        .module-list .item{
            padding: 15px 0;
        }
    }
    .module-list .item .r label{
        margin-left: 10px;
        &:first-child{
            margin-left: 0;
        }
    }
}
.modal{
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    transition: all 200ms;
    &.on{
        top: 0;
        transition: all 200ms;
    }
    .modal_bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 8;
    }
    .pick_box{
        background: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
        .btns{
            display: flex;
            .btn{
                flex: 1;
                border-radius: 0;
                font-size: 15px;
                color: #a6bcd4;
                height: 45px;
                line-height: 45px;
                background: #fff;
                &::before{
                    display: none;
                }
                &.btn1{
                    background: #288dfd;
                    color: #fff;
                }
            }
        }
    }
}

.chagen_tab{
    .change_tab_list{
        background: #fff;
        border-bottom: 1px solid #f0f1f3;
        ul{
            display: flex;
            li{
                flex: 1;
                text-align: center;
                height: 35px;
                line-height: 35px;
                position: relative;
                &::after{
                    content: '';
                    display: block;
                    width: 20px;
                    height: 3px;
                    background: url(../img/img103.png) no-repeat center center;
                    background-size: 100% 100%;
                    position: absolute;
                    bottom: 4px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: none;
                }
                &.active{
                    color: #288dfd;
                    &::after{
                        display: block;
                    }
                }
            }
        }
    }
}
.transactioninfo{
    position: relative;
    padding-left: 90px;
    font-size: 0;
    .l{
        position: absolute;
        left: 0;
        top: 0;
        width: 90px;
        h3{
            font-size: 15px;
            color: #999;
            height: 39px;
            line-height: 39px;
            text-align: center;
            border-bottom: 1px solid #eee; 
        }
        li{
            font-size: 15px;
            height: 39px;
            line-height: 39px;
            text-align: center;
            color: #2b2a30;
            border-bottom: 1px solid #eee; 
        }
    }
    .r{
        white-space: nowrap;
        .list{
            display: inline-block;
            li{
                font-size: 15px;
                height: 39px;
                line-height: 39px;
                text-align: center;
                color: #2b2a30;
                padding: 0 10px;
                border-bottom: 1px solid #eee;
                &:first-child{
                    color: #999;
                }
            }
        }
    }
}
.selection_date{
    padding: 0 15px;
    line-height: 43px;
    background: #fff;
    p{
        span{
            float: right;
            padding-right: 15px;
            background: url(../img/img207.png) no-repeat right center;
            background-size: 11px 6px;
        }
    }
}
.settlement_manage{
    padding-bottom: 20px;
    
    .tab_box{
        margin-top: 10px;
        .search-wrap{
            padding: 15px 15px 0;
            margin-bottom: -10px;
        }
    }
    .tab{
        margin-top: 10px;
        background: #fff;
        padding: 0 15px;
        .tit{
            line-height: 55px;
            border-bottom: 1px solid #f0f1f3;
            h3{
                font-size: 16px;
                font-weight: bold;
            }
        }
        .item{
            .list{
                border-top: 1px solid #f0f1f3;
                padding: 20px 0;
                &:first-child{
                    border-top: none;
                }
                h3{
                    font-size: 0;
                    color: #2b2a30;
                    span{
                        font-size: 15px;
                        vertical-align: middle;
                    }
                    .iconfont{
                        display: inline-block;
                        width: 17px;
                        height: 17px;
                        line-height: 17px;
                        text-align: center;
                        border-radius: 17px;
                        background: #a6bcd4;
                        color: #fff;
                        vertical-align: middle;
                        margin-right: 3px;
                        font-size: 9px;
                    }
                }
                ul{
                    background: url(../img/img207.png) no-repeat right 18px;
                    background-size: 11px 6px;
                    height: 27px;
                    overflow: hidden;
                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }
                    &.active{
                        height: auto;
                    }
                    &.ul1{
                        background: none;
                        height: auto;
                        li{
                            &:nth-child(2n+1){
                                width: 65%;
                            }
                            &:nth-child(2n){
                                width: 35%;
                            }
                        }
                    }
                    li{
                        float: left;
                        width: 50%;
                        margin-top: 15px;
                        p{
                            font-size: 12px;
                            color: #999;
                            span{
                                color: #2b2a30;
                            }
                        }
                    }
                }
            }
        }
    }
}
.power_tracking{
    .top{
        border-bottom: 1px solid #eee;
        .search-wrap{
            padding-bottom: 0;
        }
    }
    .tab{
        .item{
            margin-top: 10px;
            padding: 20px 15px;
            background: #fff;
            &:first-child{
                margin-top: 0;
            }
            h3{
                font-size: 15px;
                color: #2b2a30;
            }
            .list{
                ul{
                    li{
                        float: left;
                        width: 50%;
                        margin-top: 15px;
                        &:first-child{
                            width: 100%;
                            line-height: 30px;
                        }
                        p{
                            font-size: 12px;
                            color: #999;
                            label{
                                display: inline-block;
                                width: 93px;
                                border-radius: 30px;
                                text-align: center;
                                color: #fff;
                                &.lb1{
                                    background: -webkit-linear-gradient(left, #95c5fa, #3393fd); 
                                }
                                &.lb2{
                                    background: -webkit-linear-gradient(left, #fdc86b, #f9a30c); 
                                }
                                &.lb3{
                                    background: -webkit-linear-gradient(left, #fb818d, #fd0e25); 
                                }
                            }
                            span{
                                color: #2b2a30;
                            }
                        }
                    }
                    &::after{
                        content: '';
                        display: block;
                        height: 0;
                        clear: both;
                    }
                }
            }
        }
    }
}
.actualpowerrecord{
    .top{
        padding: 20px 15px;
        background: #fff;
        text-align: center;
        h3{
            font-size: 16px;
            font-weight: bold;
        }
        p{
            font-size: 11px;
            color: #a6bcd4;
            margin-top: 15px;
        }
    }
    .tab{
        .item{
            margin-top: 10px;
            padding: 0 15px 20px;
            background: #fff;
            .tit{
                line-height: 54px;
                border-bottom: 1px solid #eee;
                h3{
                    font-size: 15px;
                    font{
                        font-weight: bold;
                        margin: 0 5px;
                    }
                    span{
                        float: right;
                        font-size: 11px;
                        color: #a6bcd4;
                    }
                }
            }
            .list{
                ul{
                    li{
                        margin-top: 15px;
                        p{
                            font-size: 12px;
                            color: #2b2a30;
                            span{
                                color: #999;
                            }
                            a{
                                color: #288dfd;
                            }
                        }
                    }
                }
            }
        }
    }
}
.spotDeclarationDetDay{
    .top{
        padding: 20px 15px;
        background: #fff;
        text-align: center;
        h3{
            font-size: 16px;
            font-weight: bold;
        }
        p{
            font-size: 11px;
            color: #a6bcd4;
            margin-top: 15px;
        }
    }
    .spot_declaration_power{
        background: #fff;
        margin-top: 10px;
        padding: 20px 0 20px 15px;
        h3{
            text-align: center;
            font-size: 12px;
        }
        .chart{
            margin-top: 15px;
            img{
                display: block;
                width: 100%;
            }
        }
    }
    .spot_declaration_tab{
        background: #fff;
        margin-top: 10px;
        padding: 20px 0;
        h3{
            text-align: right;
            font-size: 11px;
            color: #999;
        }
        .tab{
            border-top: 1px solid #eee;
            margin-top: 15px;
            .l{
                float: left;
                margin-left: 15px;
                width: 65px;
                li{
                    text-align: right;
                    padding: 0;
                    padding-right: 15px;
                }
            }
            .r{
                overflow: hidden;
                .box{
                    overflow-y: auto;
                    white-space: nowrap;
                    font-size: 0;
                    .list{
                        display: inline-block;
                    }
                }
            }
            ul{
                li{
                    text-align: center;
                    height: 39px;
                    line-height: 39px;
                    border-bottom: 1px solid #eee;
                    font-size: 15px;
                    color: #999;
                    padding: 0 13px;
                    &:first-child{
                        color: #2b2a30;
                    }
                }
            }
        }
    }
}