.todolist ul li{
    margin-top: 10px;
}
.todolist ul li:first-child{
    margin-top: 0;
}
.todolist ul li a{
    background: #fff url(../img/img201.png) no-repeat 95% center;
    background-size: 7px 12px;
    display: block;
    padding: 10px 15px;
}
.todolist ul li p{
    color: #2b2a30;
    font-size: 15px;
    line-height: 27px;
}
.todolist ul li p span{
    color: #999;
}
.todolist ul li p label{ 
    color: #a6bcd4;
}